---
export interface Props {
	text: string;
    href:string
	
}

const { text, href} = Astro.props;
---

<a href={href} class="h-fit bg-transparent duration-300 hover:bg-[#e84162] hover:text-white active:text-white py-1 px-2 rounded cursor-pointer text-zinc-700 transition ease-in-out">{text}</a> 

<style>
	
</style>