---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="font-sans bg-[#f0ded1]">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./images/logo-small.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#939650" />
    <meta
      property="og:title"
      content="Magdalena Polakowska | Web developer & UX/UI designer"
    />
    <meta
      property="og:url"
      content="https://magdalenapolakowska.github.io/portfolio/"
    />
    <meta
      property="og:image"
      content="https://magdalenapolakowska.github.io/portfolio/images/aboutme.png"
    />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    background-color: ##f0ded1;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 18px;
    color: #554236;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
